@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;700&display=swap');

:root{
    --primaryColor:#5BC76D;
    --primaryRGBA:rgba(0,0,0,0.3);
    --mainGrey:#fafafa;
    --darkGrey:#5f5e5e;
    --mainWhite:#fff;
    --mainBlack:#222;
    --mainTransition:all 0.4s ease-in-out;
    --mainSpacing:0.3rem;

}

.text-title{
    font-family: 'Raleway', sans-serif!important;
    font-weight: bold;
    letter-spacing: var(--mainSpacing);
}

.text-main{
    color: var(--primaryColor);
}

body{
    font-family: 'Lato', sans-serif!important;
    background-color: var(--mainGrey)!important;
}